**
!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
!src/
!src/**
!vendor/
!vendor/**
!scripts/
!scripts/**
!tests/
!tests/**
!docs/
!docs/**
!licenses/
!licenses/**
!LICENSE
!README.md
!.dockerignore
!Dockerfile

**/*.key
**/*.redb
**/*.wal
**/.env*
